// Global Styles

h1 {
  font-size: 2.75rem;
  color: #276184;
}

h2 {
  font-size: 2.5rem;
}

a {
  color: #94ba65;
}

h2.section-title {
  color: #276184;
}

h3.post-title {
  font-size: 1.75rem;
  color: #5f5959;
  margin-bottom: 0.25rem;
}

h3.post-title a {
  color: #5f5959;
}

h3.post-title a:hover {
  color: #94ba65;
}

// Sticky Footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin: 2.75em;
}

.post-time-ago-in-words {
  color: #d3d3d3;
  font-size: 0.9rem;
}

.btn {
  background-color: #276184;
}

.btn:hover {
  background-color: #94ba65;
}

.btn--signup {
  color: #276184;
}

.page-title {
  color: #276184;
  font-size: 2rem;
}

// Index Cards
.card {
  height: auto;
  color: #3e3e3e;
}

.card-title {
  h2 {
    margin-top: .75rem;
  }
  a {
    color: rgba(42, 66, 78, 0.8);
  }

  a:hover {
    color: #94ba65;
  }
}

.card-date {
  color: #d3d3d3;
  font-size: 0.9rem;
}

.card
.card-action
a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: rgba(76, 175, 80, 0.8);
}

nav {
  background-color: #276184;
}

nav .brand-logo {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.75rem;
  font-weight: 100;
}

nav ul a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
}

nav ul a:hover {
  color: #fff;
}

.page-footer {
  background-color: #276184;
}

.page-footer .footer-copyright {
  font-weight: 100;
}

@media only screen and (min-width: 993px) {
  .container {
      width: 90%;
  }
}

.hidden {
  display: none;
}

p::selection {
  background: #fff198;
}
